header {
  background-color: rgb(196,196,196);
  height: 80px;
  width: 100%;
  border-top: 1px solid rgb(140,140,140);
  border-bottom: 1px solid rgb(140,140,140);
}

img {
  float: left;
  text-shadow: 1px #666666;
}

a {
  color: white;
}

body {
  font-family: "LucidaGrande";
  margin: 0px;
}

main {
  margin: 30px auto 30px auto;
  width: 60%;
  background-color: white;
  padding: 30px;
  border-radius: 13px;
  border: 1px solid #D5D5D5;
  box-shadow: 0px 2px 14px 0px #DADADA;
}

ul {
  list-style-type: none;
  text-align: right;
  padding-right: 10px;
}

li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

button {
  background-color: rgb(44,79,176);
	border:1px solid rgb(47,56,138);
	display:inline-block;
  width: 100px;
  height: 40px;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
  border-radius: 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}

footer {
  margin: 30px auto 30px auto;
  border-top: ridge 1px rgb(220,220,220);
  padding: 10px;
  width: 63%;
  padding: 5px;
}

footer p {
  color: rgb(170,170,170);
}
