header {
  background-color: rgb(196,196,196);
  height: 80px;
  width: 100%;
  border-top: 1px solid rgb(140,140,140);
  border-bottom: 1px solid rgb(140,140,140);
  padding-right: 30px;
}

.logo {
  float: left;
  text-shadow: 1px #666666;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  font-family: "LucidaGrande";
}


body {
  background-image: url("background.png");
  font-family: "LucidaGrande";
  margin: 0px;
}

main {
  margin: 30px auto 30px auto;
  width: 60%;
  background-color: white;
  padding: 30px;
  border-radius: 13px;
  border: 1px solid #D5D5D5;
  box-shadow: 0px 2px 14px 0px #DADADA;
}

.headerbutton {
  list-style-type: none;
  text-align: right;
  padding-right: 10px;
}

li {
  display: inline;
  margin-right: 20px;
}

button {
  background-color: rgb(44,79,176);
	border:1px solid rgb(47,56,138);
	display:inline-block;
  padding: 0px 20px;
  height: 40px;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
  border-radius: 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;

}

footer {
  margin: 30px auto 30px auto;
  padding: 10px;
  width: 63%;
  padding: 5px;
}

hr {
  height:0;
  color: rgb(170,170,170);
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
}

footer p {
  color: rgb(170,170,170);
}
